body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

/* dark mode */
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #404040;
    color: white;
    overflow-wrap: normal;
  }
  .round {
    background: #262626!important;
  }
  .messagei {
    border: 2px solid #333333!important;
    background-color: #804000!important;
  }
  .messageo {
    border: 2px solid #333333!important;
    background-color: #802000!important;
  }
  .wait {
    border: 2px solid #333333!important;
    background-color: #802000!important;
  }
  input[type=text] {
    border: 1px solid #333333!important;
    background: #4d4d4d!important;
    color: white!important;
  }
}

.header {
  padding: 20px;
  margin: 0px;
  font-style: bold;
}
.content {
  padding: 20px;
  margin: 30px;
}
.footer {
  background-color: #3b3b3b;
  text-align: center;
  color: #b3b3b3;
  font-size: smaller;
  bottom: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  padding: 5px;
}
.round {
  border-radius: 15px;
  background: #f2f2f2;
  padding: 30px;
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
input[type=text] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 6px;
  margin-left: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.messagei {
  border: 2px solid #dedede;
  background-color: #cc6600;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0;
  margin-left: 16px;
  color: white;
}
.messageo {
  border: 2px solid #dedede;
  background-color: #cc3300;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0;
  margin-left: 16px;
  color: white;
}
.wait {
  border: 2px solid #dedede;
  background-color: #cc3300;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0;
  margin-left: 16px;
  color: white;
}
.hidden {
	display: none;
}

@media screen and (max-width: 600px) {
  .round {
    margin: 5px;
  }
}

/* CSS Loader */
.spinner {
  width: 70px;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  display: inline-block;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  display: inline-block;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.btn {
	border: 2px solid black;
	border-radius: 5px;
 	background-color: white;
	color: black;
	padding: 4px 8px;
	cursor: pointer;
	border-color: #4CAF50;
	color: green;
}
.btn:hover {
	background-color: #4CAF50;
	color: white;
}
